PyQt5
pygetwindow
keyboard; sys_platform == 'windows'
mouse; sys_platform == 'windows'
pywin32; sys_platform == 'windows'
pywintypes; sys_platform == 'windows'
xlib; sys_platform == 'linux'
ewmh; sys_platform == 'linux'
pynput; sys_platform == 'linux'
pyobjc; sys_platform == 'darwin'
pynput; sys_platform == 'darwin'
